.intro{
    &__item{
        border: 1px solid #E9E9E9;
        padding: 30px;
        position: relative;
        @include media(809){
            border: none;
            padding: 20px;
        }
        &-title{
            font-weight: bold;
            font-size: 45px;
            line-height: 47.8px;
            color: #161616;
            max-width: 505px;
            @include media(1187){
                font-size: 30px;
                line-height: 35px;
                max-width: 327px;
                margin-bottom: 10px;
            }
        }
        &-desc{
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            color: #616161;
            max-width: 505px;
            margin-bottom: 30px;
            @include media(1187){
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 20px;
                max-width: 241px;
            }
        }
        &-link{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            width: 310px;
            height: 60px;
            background: #E96E2D;
            border: 2px solid #E96E2D;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition:  200ms ease-in-out;
            @include media(1187){
                width: 210px;
                height: 50px;
                margin-bottom: 60px;
            }
            @include media(809){
                margin-bottom: 30px;
            }
            &:hover{
                background: #fff;
                color: #E96E2D;
                text-decoration: none;
            }
        }
        &-img{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            @include media(1187){
                width: 301px;
                height: 212px;
            }
            @include media(809){
                position: static;
                width: 100%;
                height: auto;
            }
        }
    }
    &__tabs{
        margin-top: 50px;
        .tab-nav{
            @include media(1187){
                overflow-x: scroll;
                height: 91px;
            }
        }
        .tabs{
            @include media(1187){
                width: 1170px;
            }
        }
        .tab{
            margin: 0 5px; 
            width: calc(16.3% - 5px);
        }
    }
    &__form{
        margin-bottom: 100px;
        margin-top: 100px;
        @include media(809){
            margin-top: 50px;
            margin-bottom: 0px;
        }
        &-inner{
            border: 1px solid #E9E9E9;
            box-sizing: border-box;
            padding: 60px 110px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            @include media(1187){
                padding: 30px;
            }
            @include media(809){
                border: none;
                padding: 0;
            }
        }
        &-title{
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 20px;
            color: #161616;        
            max-width: 736px;    
            @include media(1187){
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 10px;
                max-width: 550px;
            }
        }
        &-desc{
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            color: #616161;
            margin-bottom: 40px;       
            max-width: 660px;
            @include media(1187){
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 30px;
                max-width: 407px;
            }
        }
        &-input{
            border: 1px solid #E9E9E9 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
            margin-bottom: 15px;
            max-width: 310px;
            width: 100%;
            height: 60px;
            font-family: Raleway !important;
            @include media(1187){
                margin-bottom: 10px;
            }
            @include media(809){
                height: 40px;
            }
            &:focus{
                border: 1px solid #E96E2D !important;
                color: #E96E2D !important;
                &::placeholder{
                    color: #E96E2D !important;
                }
            }
        }
        &-btn{
            margin-top: 35px;
            width: 310px;
            height: 60px;
            border-radius: 30px;
            background: #E96E2D;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #fff;
            @include media(1187){
                margin-top: 10px;
                margin-bottom: 14px;
            }
            @include media(809){
                width: 210px;
                height: 50px;
                margin-bottom: 20px;
            }
        }
        &-img{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 380px;
            @include media(1187){
                width: 280px;
            }
            @include media(809){
                position: static;
            }
        }
        &-bg{
            z-index: -1;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 340px;
            height: 100%;
            background: #F3F9FF;
            border-left: 1px solid #E9E9E9;
            box-sizing: border-box;
            @include media(1187){
                width: 226px;
            }
            @include media(809){
                width: calc(100% + 40px);
                right: -20px;
                height: 210px;
                border: 1px solid #E9E9E9;
            }
        }
    }
}