mixin intro()
    .section-category-grid(style="padding-top: 0;")
        .container
            .b-category-grid
                .section-breadcrumbs.hide-on-small
                    .row--narrow 
                        .b-breadcrumbs 
                            .b-breadcrumbs__list
                                li(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb") 
                                    a(href="https://mebel-v-vannu.ru/" onclick="yaCounter13546952.reachGoal('BREADCRUMBS_CATEGORY'); gtag('event','BREADCRUMBS_CATEGORY'); return true;") 
                                        span Главная 
                                li(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb") 
                                    a(href="#!")
                                        span Мебель на заказ
                .intro__item 
                    p.intro__item-title Мебель для ванной на заказ
                    p.intro__item-desc Начните с первого шага. Оставьте заявку, и менеджер проекта свяжется с вами
                    a(href="#form").intro__item-link Оставить заявку
                    img(src="images/intro-img.png", alt="").intro__item-img
    


    .intro__tabs 
        .sectionsection-showcase-product
            .b-showcase-tab 
                .container
                    .tabs-scroll    
                        .b-showcase-tab__nav.tab-nav
                            ul.inline-list.tabs(data-tabs="tabs") 
                                li.tab.active   
                                    a(data-toggle="tab" href="#showcase-0")
                                        span 1. Оставить заявку
                                li.tab  
                                    a(data-toggle="tab" href="#showcase-1")
                                        span 2. Ожидайте приезда замерщика
                                li.tab
                                    a(data-toggle="tab" href="#showcase-2")
                                        span 3. Согласуйте детальный расчет
                                li.tab
                                    a(data-toggle="tab" href="#showcase-3")
                                        span 4. Заключите договор и внесите предоплату
                                li.tab
                                    a(data-toggle="tab" href="#showcase-4")
                                        span 5. Отправляем на изготовление
                                li.tab
                                    a(data-toggle="tab" href="#showcase-5")
                                        span 6. Осуществим доставку и монтаж в 1 день
                    .b-showcase-tab__content.tab-content.tab-content-slider
                        .b-showcase-tab__tab-content.tab-pane.fade.active#showcase-0
                            .intro__tabitem 
                                p.intro__tabitem-title Оставить заявку
                                p.intro__tabitem-desc Вы оставляете заявку с кратким описанием желаемого изделия. В течение дня с Вами свяжется менеджер
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-1.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.green
                        .b-showcase-tab__tab-content.tab-pane.fade#showcase-1
                            .intro__tabitem 
                                p.intro__tabitem-title Ожидайте приезда замерщика
                                p.intro__tabitem-desc В удобное время к Вам приезжает замерщик и выполняет замеры. Вы обсуждаете дизайн, функционал, цвет мебели, материалы
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-2.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.blue
                        .b-showcase-tab__tab-content.tab-pane.fade#showcase-2
                            .intro__tabitem 
                                p.intro__tabitem-title Согласуйте детальный расчет
                                p.intro__tabitem-desc Производится детальный расчет Вашего заказа. Из стоимости материалов, фурнитуры, конструкции мебели и работы форируется цена
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-3.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.yellow
                        .b-showcase-tab__tab-content.tab-pane.fade#showcase-3
                            .intro__tabitem 
                                p.intro__tabitem-title Заключите договор и внесите предоплату
                                p.intro__tabitem-desc Окончательно согласовываем и утверждаем все детали проекта. Заключаем договор розничной купли-продажи. Вы вносите предоплату.
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-4.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.gray
                        .b-showcase-tab__tab-content.tab-pane.fade#showcase-4
                            .intro__tabitem 
                                p.intro__tabitem-title Отправляем на изготовление
                                p.intro__tabitem-desc Ваш заказ отправляется на фабричное производство. Минимальный срок выполнения работ составляет 14 рабочих дней.
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-5.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.white
                        .b-showcase-tab__tab-content.tab-pane.fade#showcase-5
                            .intro__tabitem 
                                p.intro__tabitem-title Осуществим доставку и монтаж в 1 день
                                p.intro__tabitem-desc В назначенную дату и время привозим готовую мебель и сопутствующие ей товары. Вы принимаете работу и вносите полную оплату.
                                a(href="#form").intro__tabitem-btn Оставить заявку
                                img(src="images/tabitem-6.png", alt="").intro__tabitem-img
                                .intro__tabitem-bg.green


    .intro__rects 
        .intro__container.container
            .intro__rects-body
                .intro__rects-col.s_25
                    .intro__rects-item.blue.h-sm.bb
                        p.intro__rects-title Комплекты <br>мебели
                        img(src="images/rect-1.png", alt="")
                    .intro__rects-item.yellow.h-sm
                        p.intro__rects-title Тумбы с <br>раковиной
                        img(src="images/rect-2.png", alt="")
                .intro__rects-col.s_35
                    .intro__rects-item.gray.h-big
                        p.intro__rects-title Пеналы для ванной
                        img(src="images/rect-3.png", alt="")
                .intro__rects-col.s_40
                    .intro__rects-row
                        .intro__rects-item.green.h-sm.br
                            p.intro__rects-title Зеркала для ванной
                            img(src="images/rect-4.png", alt="")
                        .intro__rects-item.yellow.h-sm
                            p.intro__rects-title Навесные шкафы для ванной
                            img(src="images/rect-5.png", alt="")
                    .intro__rects-item.blue.h-sm.bt.mb-0
                        p.intro__rects-title Напольные тумбы для ванной
                        img(src="images/rect-6.png", alt="")


    .intro__form#form
        .intro__form-body.container
            form(action="").intro__form-inner
                p.intro__form-title Хотите заказать индивидуальную мебель для Вашей ванной?
                p.intro__form-desc Оставьте заявку и мы свяжемся с Вами для уточнения всех вопросов и предварительного расчета!
                input(type="text" placeholder="Имя").intro__form-input
                input(type="text" placeholder="Телефон").intro__form-input
                button(type="submit").intro__form-btn Оставить заявку
                img(src="images/intro-img_2.png", alt="").intro__form-img 
                div.intro__form-bg

                                        