@import "layout/root";
@import "layout/ui";
@import "layout/header";
@import "layout/fancy";
@import "layout/layout";
.three{
    padding: 50px 0 50px 0;
    &__body{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        @include media(992){
            justify-content: space-between;
        }
        @include media(810){
            flex-direction: column;
        }
    }
    &__item{
        width: 200px;
        @include media(810){
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &-img{
            @include media(810){
                min-width: 130px;
                width: 130px;
                img{
                    width: 100%;
                }
            }
        }
        &-p{
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #161616;
            margin-top: 10px;
            @include media(810){
                text-align: left;
                margin-left: 10px;
                margin-top: 0;
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}
.video{
    &__header{
        background: #FBFBFB;
        border: 1px solid #E9E9E9;
        border-bottom: none;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #161616;
        padding: 15px;
    }
    &__title{
        margin-bottom: 0;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #161616;
        @include media(810){
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
        }
    }
    &__content{
        position: relative;
        width: 100%;
        min-height: 280px;
    }
    &__img{
        width: 100%;
        filter: drop-shadow(0px 2px 20px rgba(93, 143, 239, 0.15));
        min-height: 280px;
        object-fit: cover;
    }
    &__btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.advantages{
    margin-top: 100px;
    margin-bottom: 100px;
    &__title{
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #161616;
        margin-bottom: 50px;
        @include media(810){
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            text-align: center;
            width: 100%;
            color: #161616;            
        }     
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        @include media(1200){
            flex-wrap: wrap;
        }
    }
    &__item{
        max-width: 300px;
        width: calc(25% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(1200){
            width: calc(50% - 10px);
        }
        @include media(810){
            width: 100%;
            align-items: flex-start;
        }
        &-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &-title{
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #161616;
            @include media(810){
                text-align: left;
            }     
        }
        &-p{
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #616161;
            margin-bottom: 0;       
            @include media(810){
                text-align: left;
            }     
        }
    }
}
.works{
    
}